.div-header{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.button{
    background-color: #3949ab;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
}